/** Custom Style Sheet **/

body {
    background-image: url('images/poolBackground.jpeg');
}

.mynavbar{
    background-image:linear-gradient(rgb(238, 241, 245), rgb(137, 178, 235));

}
.stores {
    background-color: black;
    color: white;
}