/** Custom Style Sheet **/

body {
    background-image: url('images/poolBackground.jpeg');
}

.mynavbar{
    background-image:linear-gradient(rgb(238, 241, 245), rgb(137, 178, 235));

}
.stores {
    background-color: black;
    color: white;
}

/* Slider Section*/
.carousel-caption {
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-caption h5 {
    font-size: 40px;
}
.carousel-caption  p{
    font-size: 20px;
}

/* Labels on forms*/
label {
  font : .8em "typewriter", sans-serif;
  color: white;
  background-color: black;
}